* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/images/beans.jpg");
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.content-wrapper {
  background-color: burlywood;
  width: 27%;
  height: 560px;
  padding: 20px;
}

.top {
  text-align: center;
  padding: 8px;
  border-bottom: 5px solid brown;
}

.top h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.top p {
  font-size: 16px;
}

.border {
  border-bottom: 2px solid #0004ff;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.menu-item-head1 {
  text-align: center;
  padding-top: 15px;
}

.menu-item-head1 h2 {
  font-size: 30px;
}

.menu-item1 {
  display: flex;
  justify-content: space-between;
}

.menu-item2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid brown;
  padding-bottom: 10px;
}


ul li {
  list-style-type: none;
}

.footer {
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  padding: 20px;
}